# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/

# Gradle files
build/

# Spring Boot files
spring-boot-starter-parent/target/
spring-boot-starter/target/
spring-boot-starter-web/target/
spring-boot-starter-test/target/
spring-boot-starter-data-jpa/target/

# Application properties
application.properties

#keys for token encoding and decoding
blog/src/main/resources/certs/

# IDE-specific files
.vscode/
*.iml
*.ipr
*.iws

# Miscellaneous
.DS_Store
Thumbs.db
.mvn

